body {
  margin: 0;
  font-family: monospace;
  font-size: 16px;
}

header {
  background-image: url("../images/header.png");
  padding: 67px 0;
}

header > h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 200;
  margin: 0 0 40px 0;
  text-align: center;
}

header > ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

header > ul > li {
  display: inline;
  margin: 0 10px;

}

header > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

main {
  padding: 60px 80px 140px 80px;
}

#about-me {
  border-bottom: 1px solid gray;
  margin: 0 0 60px 0;
  padding-bottom: 60px;
}

#about-me > h3 {
  margin: 0 0 40px 0;
  font-weight: 100;
}

#about-me > div {
  display: inline-block;
  width: 40%;
}

#about-me > div > img {
  width: 97%
}

 #about-me > p {
   float: right;
   width: 40%;;
 }

 #projects {
   margin: 60px 0;
   border-bottom: 1px solid gray;

 }

 #projects > h3 {
   margin: 0 0 40px 0;
   font-weight: 100;

 }

 #projects > div {

 }

 #projects > div > div {
   display: inline-block;
   text-align: center;
   width: 32%;
 }

#projects > div > div > img {
  margin: 0 0 40px 0;
}

section {
  margin: 60px 0;
}

section > h3 {
  margin: 0 0 40px 0;
  font-weight: 100;
}

section > h4 {
  margin: 0 0 20px 0;
  font-weight: 100;
}

footer {
  background-image: url("../images/header.png");
  padding: 30px 0;

}

footer > ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

footer > ul > li {
  display: inline;
  margin: 0 10px;
}

footer > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

#goals {
  border-bottom: 1px solid gray;
}

#education {
  border-bottom: 1px solid gray;
}
